<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^tasks/?([0-9]*)/?$ restful.php [NC,L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.html [L,QSA]
</IfModule>
